<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<div class="container mt-7">
    <div class="card shadow-sm">
        <div th:replace="~{fragments/form-header :: form-header('Создание информации', 'Заполните данные новой информации')}"></div>
        <div class="form-content">
            <form th:action="@{/information/save}" th:object="${form}" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="~{fragments/form-input :: textarea-field('declaration', 'Описание', 'Введите описание информации')}"></div>
                    </div>
                </div>
            </form>
        </div>
        <div th:replace="fragments/form-footer :: form-footer('/information')"></div>
    </div>
</div>
</body>
</html>