<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/base-create :: body(
        title='Создание пользователя',
        action=@{/user/save},
        object=${form},
        content=~{::content}
    )}">
    <th:block th:fragment="content">
        &lt;!&ndash; Input для username &ndash;&gt;
        <div th:replace="~{fragments/form-input :: input-field(
                'username',
                'Логин',
                'Введите логин пользователя')}">
        </div>

        &lt;!&ndash; Input для password &ndash;&gt;
        <div th:replace="~{fragments/form-input :: input-field(
                'password',
                'Пароль',
                'Введите пароль')}">
        </div>

        &lt;!&ndash; Select для роли &ndash;&gt;
        <div th:replace="~{fragments/form-input :: select-field('role.id', 'Роль', 'Выберите роль пользователя', 'roles', 'id', 'name')}"></div>
    </th:block>
</div>
</body>
</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light" class="container mt-7">
<div class="container mt-7">
    <div class="card shadow-sm">
        <div th:replace="~{fragments/form-header :: form-header('Создание пользователя', 'Заполните данные нового пользователя')}"></div>
        <div class="form-content">
            <form th:action="@{/user/save}" th:object="${form}" method="post">

                <div th:replace="~{fragments/form-input :: input-row(
                    'username', 'Login', 'Введите Login пользователя',
                    'name', 'Имя', 'Введите имя пользователя'
                )}"></div>

                <div th:replace="~{fragments/form-input :: input-row(
                    'surname', 'Фамилия', 'Введите фамилию пользователя',
                    'patronymic', 'Отчество', 'Введите отчество пользователя'
                )}"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div th:replace="~{fragments/form-input :: input-field('password','Пароль','Введите пароль для нового пользователя')}"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label for="blocked" class="form-label fw-bold">Статус</label>
                            <select class="form-select form-select-lg"
                                    id="blocked"
                                    th:field="*{blocked}">
                                <option th:value="false">Активен</option>
                                <option th:value="true">Заблокирован</option>
                            </select>
                            <div class="form-text">Выберите статус пользователя</div>
                        </div>
                    </div>
                </div>

                <div th:replace="~{fragments/form-input :: select-row(
                    'role.id', 'Роль', 'Выберите роль пользователя', 'roles', 'id', 'name',
                    'place.id', 'Место', 'Выберите место пользователя', 'places', 'id', 'name'
                )}"></div>

            </form>
        </div>
        <div th:replace="fragments/form-footer :: form-footer('/user')"></div>
    </div>
</div>
</body>
</html>
