<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<div class="container mt-7">
    <div class="card shadow-sm">
        <div th:replace="~{fragments/form-header :: form-header('Создание окна', 'Заполните данные нового окна')}"></div>
        <div class="form-content">
            <form th:action="@{/win/save}" th:object="${form}" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="~{fragments/form-input :: input-field('number', 'Номер окна', 'Введите номер окна')}"></div>
                    </div>
                </div>

                <div th:replace="~{fragments/form-input :: select-row(
                    'place.id', 'Место', 'Выберите место окна', 'places', 'id', 'name',
                    'operator.id', 'Оператор', 'Выберите оператора окна', 'operators', 'id', 'name'
                )}"></div>
            </form>
        </div>
        <div th:replace="fragments/form-footer :: form-footer('/win')"></div>
    </div>
</div>
</body>
</html>