<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<div class="container mt-7">
    <div class="card shadow-sm">
        <div th:replace="~{fragments/form-header :: form-header('Создание места', 'Заполните данные нового места')}"></div>
        <div class="form-content">
            <form th:action="@{/place/save}" th:object="${form}" method="post">
                <div th:replace="~{fragments/form-input :: input-row(
                    'name', 'Название', 'Введите название места',
                    'code', 'Код', 'Введите код места'
                )}"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="~{fragments/form-input :: input-field('address','Адрес','Введите адрес места')}"></div>
                    </div>
                </div>
            </form>
        </div>
        <div th:replace="fragments/form-footer :: form-footer('/place')"></div>
    </div>
</div>
</body>
</html>