<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<div class="container mt-7">
    <div class="card shadow-sm">
        <div th:replace="~{fragments/form-header :: form-header('Создание талона', 'Заполните данные нового талона')}"></div>
        <div class="form-content">
            <form th:action="@{/ticket/save}" th:object="${form}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div th:replace="~{fragments/form-input :: select-field('ticketStatus.id', 'Статус', 'Выберите статус талона', 'statuses', 'id', 'name')}"></div>
                    </div>
                    <div class="col-md-6">
                        <div th:replace="~{fragments/form-input :: select-field('provision.id', 'Услуга', 'Выберите услугу', 'provisions', 'id', 'provisionName')}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="~{fragments/form-input :: select-field('place.id', 'Место', 'Выберите место', 'places', 'id', 'name')}"></div>
                    </div>
                </div>
            </form>
        </div>
        <div th:replace="fragments/form-footer :: form-footer('/ticket')"></div>
    </div>
</div>
</body>
</html>