<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<div class="container mt-7">
    <div class="card shadow-sm">
        <div th:replace="~{fragments/form-header :: form-header('Создание услуги', 'Заполните данные новой услуги')}"></div>
        <div class="form-content">
            <form th:action="@{/provision/save}" th:object="${form}" method="post">
                <div th:replace="~{fragments/form-input :: input-row(
                    'provisionName', 'Название', 'Введите название услуги',
                    'code', 'Код', 'Введите код услуги'
                )}"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="~{fragments/form-input :: select-field('place.id', 'Место', 'Выберите место услуги', 'places', 'id', 'name')}"></div>
                    </div>
                </div>
            </form>
        </div>
        <div th:replace="fragments/form-footer :: form-footer('/provision')"></div>
    </div>
</div>
</body>
</html>